In [ ]:
#Creation de lol_model_db
from sqlalchemy import create_engine, text

engine_root = create_engine("mysql+pymysql://root:root@localhost:3310/")

with engine_root.connect() as conn:
    conn.execute(text("CREATE DATABASE IF NOT EXISTS lol_model_db;"))

print("Base lol_model_db créée !")

Base lol_model_db créée !

In [6]:
# Se connecter aux deux bases
from sqlalchemy import create_engine
import pandas as pd

engine_raw = create_engine("mysql+pymysql://root:root@localhost:3310/lol_raw_db")
engine_model = create_engine("mysql+pymysql://root:root@localhost:3310/lol_model_db")

df_raw = pd.read_sql("SELECT * FROM lol_raw", engine_raw)
print("Lignes brutes :", len(df_raw))

Lignes brutes : 122388

In [20]:
with engine_model.connect() as conn:
    conn.execute(text("""
        CREATE TABLE League (
            league_id VARCHAR(255) PRIMARY KEY,
            league_name VARCHAR(255)
        );
    """))

    conn.execute(text("""
        CREATE TABLE Game (
            game_id VARCHAR(255) PRIMARY KEY,
            year INT,
            date DATETIME,
            duration INT,
            league_id VARCHAR(255),
            FOREIGN KEY (league_id) REFERENCES League(league_id)
        );
    """))

    conn.execute(text("""
        CREATE TABLE Team (
            team_id VARCHAR(255) PRIMARY KEY,
            team_name VARCHAR(255)
        );
    """))

    conn.execute(text("""
        CREATE TABLE Player (
            player_id VARCHAR(255) PRIMARY KEY,
            player_name VARCHAR(255)
        );
    """))

    conn.execute(text("""
        CREATE TABLE Champion (
            champion_id VARCHAR(255) PRIMARY KEY,
            champion_name VARCHAR(255)
        );
    """))

    conn.execute(text("""
        CREATE TABLE Game_Team (
            game_team_id INT AUTO_INCREMENT PRIMARY KEY,
            game_id VARCHAR(255),
            team_id VARCHAR(255),
            side VARCHAR(10),
            is_winner BOOLEAN,
            FOREIGN KEY (game_id) REFERENCES Game(game_id),
            FOREIGN KEY (team_id) REFERENCES Team(team_id)
        );
    """))

    conn.execute(text("""
        CREATE TABLE Game_Player (
            game_player_id INT AUTO_INCREMENT PRIMARY KEY,
            game_id VARCHAR(255),
            game_team_id INT,
            player_id VARCHAR(255),
            champion_id VARCHAR(255),
            position VARCHAR(50),
            FOREIGN KEY (game_id) REFERENCES Game(game_id),
            FOREIGN KEY (game_team_id) REFERENCES Game_Team(game_team_id),
            FOREIGN KEY (player_id) REFERENCES Player(player_id),
            FOREIGN KEY (champion_id) REFERENCES Champion(champion_id)
        );
    """))

print("Toutes les tables du modèle ont été créées.")

Toutes les tables du modèle ont été créées.

In [54]:
#LIRE LES DONNÉES BRUTES

df_raw = pd.read_sql("SELECT * FROM lol_raw", engine_raw)

INSÉRER LES DONNÉES DANS CHAQUE TABLE

In [ ]:

df_league = (
    df_raw[["league"]]
    .drop_duplicates()
    .rename(columns={"league": "league_id"})
)

df_league["league_name"] = df_league["league_id"]

df_league.to_sql("League", engine_model, if_exists="append", index=False)

53

In [23]:
df_game = (
    df_raw[["gameid", "year", "date", "gamelength", "league"]]
    .drop_duplicates()
    .rename(columns={
        "gameid": "game_id",
        "gamelength": "duration",
        "league": "league_id"
    })
)

df_game.to_sql("Game", engine_model, if_exists="append", index=False)

10199

In [25]:
df_team = (
    df_raw[["teamid", "teamname"]]
    .dropna(subset=["teamid"])        # ⬅️ IMPORTANT : enlève les lignes sans teamid
    .drop_duplicates()
    .rename(columns={
        "teamid": "team_id",
        "teamname": "team_name"
    })
)

df_team.to_sql("Team", engine_model, if_exists="append", index=False)

463

In [27]:
df_player = (
    df_raw[["playerid", "playername"]]
    .dropna(subset=["playerid"])      # ⬅️ IMPORTANT : enlève les lignes sans playerid
    .drop_duplicates()
    .rename(columns={
        "playerid": "player_id",
        "playername": "player_name"
    })
)

df_player.to_sql("Player", engine_model, if_exists="append", index=False)

3149

In [29]:
df_champion = (
    df_raw[["champion"]]
    .dropna(subset=["champion"])      # ⬅️ IMPORTANT : enlève les lignes sans champion
    .drop_duplicates()
    .rename(columns={"champion": "champion_id"})
)

df_champion["champion_name"] = df_champion["champion_id"]

df_champion.to_sql("Champion", engine_model, if_exists="append", index=False)

168

In [30]:
df_game_team = (
    df_raw[["gameid", "teamid", "side", "result"]]
    .drop_duplicates()
    .rename(columns={
        "gameid": "game_id",
        "teamid": "team_id"
    })
)

df_game_team["is_winner"] = df_game_team["result"] == 1

df_game_team_for_sql = df_game_team[["game_id", "team_id", "side", "is_winner"]]

df_game_team_for_sql.to_sql("Game_Team", engine_model, if_exists="append", index=False)

20398

In [31]:
df_game_team_db = pd.read_sql("SELECT * FROM Game_Team", engine_model)

In [ ]:
#Game_Player
df_gp = df_raw[[
    "gameid", "teamid", "playerid", "champion", "position"
]].rename(columns={
    "gameid": "game_id",
    "teamid": "team_id",
    "playerid": "player_id",
    "champion": "champion_id"
})

In [ ]:
#Jointure 
df_gp = df_gp.merge(
    df_game_team_db[["game_team_id", "game_id", "team_id"]],
    on=["game_id", "team_id"],
    how="left"
)

In [ ]:
# Insertion
df_gp_for_sql = df_gp[[
    "game_id", "game_team_id", "player_id", "champion_id", "position"
]]

df_gp_for_sql.to_sql("Game_Player", engine_model, if_exists="append", index=False)

123084

In [ ]:
#Verifions si les tables sont en rapport avec notre ERD

import pandas as pd

df_tables = pd.read_sql("SHOW TABLES;", engine_model)
df_tables

  Tables_in_lol_model_db
0               Champion
1                   Game
2            Game_Player
3              Game_Team
4                 League
5                 Player
6                   Team

In [41]:
tables = ["League", "Game", "Team", "Player", "Champion", "Game_Team", "Game_Player"]

for t in tables:
    count = pd.read_sql(f"SELECT COUNT(*) AS n FROM {t}", engine_model)
    print(f"{t} : {count['n'][0]} lignes")

League : 53 lignes
Game : 10199 lignes
Team : 463 lignes
Player : 3149 lignes
Champion : 168 lignes
Game_Team : 20398 lignes
Game_Player : 123084 lignes

In [52]:
pd.read_sql("DESCRIBE League;", engine_model)

         Field          Type Null  Key Default Extra
0    league_id  varchar(255)   NO  PRI    None
1  league_name  varchar(255)  YES         None

In [56]:
# Afficher Les 3 premiers lignes de la table league
pd.read_sql("SELECT * FROM League LIMIT 3;", engine_model)

  league_id league_name
0        AC          AC
1        AL          AL
2     CBLOL       CBLOL

In [46]:
df_raw["league"].dropna().unique()

array(['DCup', 'TSC', 'LEC', 'LCKC', 'LCO', 'UL', 'LLA', 'LCK', 'PRM',
       'LVP SL', 'LFL', 'PCS', 'LJL', 'VCS', 'CBLOL', 'LCS', 'NACL',
       'LPL', 'HM', 'GLL', 'ESLOL', 'NLC', 'TCL', 'LIT', 'LPLOL', 'LDL',
       'EBL', 'CBLOLA', 'AL', 'HC', 'PCL', 'LFL2', 'NEXO', 'LRN', 'LRS',
       'EM', 'MSI', 'IGNIS', 'LAS', 'CT', 'EPL', 'EWC', 'WLDs', 'AC',
       'CDF', 'PRMP', 'USP', 'HW', 'NLC Aurora Open', 'EBLPA', 'GLLPA',
       'IC', 'KeSPA'], dtype=object)

On peut voir d'apres les test qu'on a fait la transformation des tables de données brutes chargées à
l'étape 2 vers le modèle engine_model de l'étape 3 (Notre ERD)