In [3]:
#Creation de lol_dw
from sqlalchemy import create_engine, text

engine_root = create_engine("mysql+pymysql://root:root@localhost:3310/")

with engine_root.connect() as conn:
    conn.execute(text("CREATE DATABASE IF NOT EXISTS lol_dw_db;"))

print("Base lol_dw_db créée !")

Base lol_dw_db créée !

In [4]:

# Se connecter aux deux bases
from sqlalchemy import create_engine
import pandas as pd

engine_model = create_engine("mysql+pymysql://root:root@localhost:3310/lol_model_db")
engine_dw = create_engine("mysql+pymysql://root:root@localhost:3310/lol_dw_db")

In [5]:
#DIM_PLAYER — 


# Lire les données relationnelles
df_player = pd.read_sql("SELECT player_id, player_name FROM Player", engine_model)

# Supprimer les doublons
df_player = df_player.drop_duplicates(subset=["player_id"])

# Créer la clé technique
df_player["player_key"] = range(1, len(df_player) + 1)

# Réorganiser les colonnes
df_player = df_player[["player_key", "player_id", "player_name"]]

# Insérer dans la dimension
df_player.to_sql("Dim_Player", engine_dw, if_exists="append", index=False)

3149

In [28]:
#DIM_CHAMPION — 

# 1. Charger Game_Player
df_gp = pd.read_sql("SELECT * FROM Game_Player", engine_model)

# 2. Construire Dim_Champion à partir de champion_id
df_champ = (
    df_gp[["champion_id"]]
    .dropna()
    .drop_duplicates()
)

# 3. Comme tu n'as pas champion_name dans ton dataset,
# on utilise champion_id comme nom du champion
df_champ["champion_name"] = df_champ["champion_id"]

# 4. Générer la clé technique
df_champ["champion_key"] = range(1, len(df_champ) + 1)

# 5. Réorganiser les colonnes
df_champ = df_champ[["champion_key", "champion_id", "champion_name"]]

# 6. Envoi dans le DW
df_champ.to_sql("Dim_Champion", engine_dw, if_exists="replace", index=False)

168

In [24]:
map_champ = dict(zip(df_champ["champion_id"], df_champ["champion_key"]))

df_gp["champion_key"] = df_gp["champion_id"].map(map_champ)

In [19]:
#DIM_TEAM — 

df_team = pd.read_sql("SELECT team_id, team_name FROM Team", engine_model)
df_team = df_team.drop_duplicates(subset=["team_id"])
df_team["team_key"] = range(1, len(df_team) + 1)
df_team = df_team[["team_key", "team_id", "team_name"]]
df_team.to_sql("Dim_Team", engine_dw, if_exists="append", index=False)

463

In [20]:
#DIM_LEAGUE — 

df_league = pd.read_sql("SELECT league_id, league_name FROM League", engine_model)
df_league = df_league.drop_duplicates(subset=["league_id"])
df_league["league_key"] = range(1, len(df_league) + 1)
df_league = df_league[["league_key", "league_id", "league_name"]]
df_league.to_sql("Dim_League", engine_dw, if_exists="append", index=False)

53

In [21]:
#DIM_DATE —  basée sur la table Game

df_date = pd.read_sql("SELECT DISTINCT date FROM Game", engine_model)

df_date["year"] = df_date["date"].dt.year
df_date["month"] = df_date["date"].dt.month
df_date["day"] = df_date["date"].dt.day
df_date["weekday"] = df_date["date"].dt.weekday
df_date["is_weekend"] = df_date["weekday"].isin([5, 6]).astype(int)

df_date["date_key"] = range(1, len(df_date) + 1)

df_date = df_date[["date_key", "date", "year", "month", "day", "weekday", "is_weekend"]]

df_date.to_sql("Dim_Date", engine_dw, if_exists="append", index=False)

10186

In [12]:
df_player.head()

   player_key                                  player_id player_name
0           1  oe:player:0015d99e65183977a9e65547b37f1cb        Harp
1           2  oe:player:002f51f6c04f2ab4cb9c3e70d23bd23   Johnsmith
2           3  oe:player:00558cb3daa73e60ba4af7e7060e6e2       Skude
3           4  oe:player:0066010bf7c06628559f1704f5d6d39     starkyy
4           5  oe:player:00710df3d8e256fd300625f22067ef2      Xiao17

In [43]:
pd.read_sql("SELECT * FROM Dim_Champion LIMIT 5;", engine_dw)

   champion_key champion_id champion_name
0             1      Aatrox        Aatrox
1             2        Ahri          Ahri
2             3       Akali         Akali
3             4      Akshan        Akshan
4             5     Alistar       Alistar