In [30]:
#Se connecter aux deux bases

from sqlalchemy import create_engine
import pandas as pd

engine_model = create_engine("mysql+pymysql://root:root@localhost:3310/lol_model_db")
engine_dw = create_engine("mysql+pymysql://root:root@localhost:3310/lol_dw_db")

In [51]:
from sqlalchemy import text

with engine_dw.connect() as conn:
    conn.execute(text("DROP TABLE IF EXISTS Fact_Game_Player;"))
    conn.execute(text("""
        CREATE TABLE Fact_Game_Player (
            fact_id INT PRIMARY KEY AUTO_INCREMENT,
            date_key INT,
            player_key INT,
            champion_key INT,
            team_key INT,
            league_key INT,
            position VARCHAR(50)
        );
    """))
    conn.commit()

In [52]:
df_gp = pd.read_sql("SELECT * FROM Game_Player", engine_model)
df_game = pd.read_sql("SELECT * FROM Game", engine_model)
df_gt = pd.read_sql("SELECT * FROM Game_Team", engine_model)

In [74]:
missing_champ = df_gp[~df_gp["champion_id"].isin(df_champ["champion_id"])]
missing_champ = missing_champ[["champion_id"]].drop_duplicates()

missing_champ["champion_name"] = missing_champ["champion_id"]

start = df_champ["champion_key"].max() + 1
missing_champ["champion_key"] = range(start, start + len(missing_champ))

df_champ = pd.concat([df_champ, missing_champ], ignore_index=True)

df_champ.to_sql("Dim_Champion", engine_dw, if_exists="replace", index=False)

169

In [75]:
missing_player = df_gp[~df_gp["player_id"].isin(df_player["player_id"])]
missing_player = missing_player[["player_id"]].drop_duplicates()

missing_player["player_name"] = missing_player["player_id"]

start = df_player["player_key"].max() + 1
missing_player["player_key"] = range(start, start + len(missing_player))

df_player = pd.concat([df_player, missing_player], ignore_index=True)

df_player.to_sql("Dim_Player", engine_dw, if_exists="replace", index=False)

9448

In [76]:
missing_team = df_gp[~df_gp["team_id"].isin(df_team["team_id"])]
missing_team = missing_team[["team_id"]].drop_duplicates()

missing_team["team_name"] = missing_team["team_id"]

start = df_team["team_key"].max() + 1
missing_team["team_key"] = range(start, start + len(missing_team))

df_team = pd.concat([df_team, missing_team], ignore_index=True)

df_team.to_sql("Dim_Team", engine_dw, if_exists="replace", index=False)

1853

In [77]:
df_player = pd.read_sql("SELECT * FROM Dim_Player", engine_dw)
df_team = pd.read_sql("SELECT * FROM Dim_Team", engine_dw)
df_league = pd.read_sql("SELECT * FROM Dim_League", engine_dw)
df_date = pd.read_sql("SELECT * FROM Dim_Date", engine_dw)

In [78]:
map_champ = dict(zip(df_champ["champion_id"], df_champ["champion_key"]))
map_player = dict(zip(df_player["player_id"], df_player["player_key"]))
map_team = dict(zip(df_team["team_id"], df_team["team_key"]))
map_league = dict(zip(df_league["league_id"], df_league["league_key"]))
map_date = dict(zip(df_date["date"], df_date["date_key"]))

In [79]:
df_gp = df_gp.merge(df_gt[["game_team_id", "team_id"]], on="game_team_id", how="left")
df_gp = df_gp.merge(df_game[["game_id", "date", "league_id"]], on="game_id", how="left")

In [82]:
df_gp = df_gp.merge(df_gt[["game_team_id", "team_id"]], on="game_team_id", how="left")

In [84]:
df_gp = df_gp.merge(df_game[["game_id", "date", "league_id"]], on="game_id", how="left")

In [85]:
df_gp["champion_key"] = df_gp["champion_id"].map(map_champ)
df_gp["player_key"] = df_gp["player_id"].map(map_player)
df_gp["team_key"] = df_gp["team_id"].map(map_team)
df_gp["league_key"] = df_gp["league_id"].map(map_league)
df_gp["date_key"] = df_gp["date"].map(map_date)

In [86]:
df_fact_final = df_gp[[
    "date_key",
    "player_key",
    "champion_key",
    "team_key",
    "league_key",
    "position"
]]

In [87]:
df_fact_final.to_sql("Fact_Game_Player", engine_dw, if_exists="replace", index=False)

123084

Verifier si les cles etrangeres sont bien recupérées

In [88]:

df_fact = pd.read_sql("SELECT * FROM Fact_Game_Player LIMIT 5", engine_dw)
df_fact.columns

Index(['date_key', 'player_key', 'champion_key', 'team_key', 'league_key',
       'position'],
      dtype='object')

Dans notre cas, la granularité est : un joueur dans un match, donc la seule mesure est : position

In [89]:
df_fact.head()

   date_key  player_key  champion_key  team_key  league_key position
0         1        1260             1       316           7      top
1         1        1087             2       316           7      jng
2         1        1403             3       316           7      mid
3         1        1646             4       316           7      bot
4         1        2062             5       316           7      sup

Vérifier l’intégrité référentielle

In [90]:
pd.read_sql("""
SELECT COUNT(*) 
FROM Fact_Game_Player f
LEFT JOIN Dim_Date d ON f.date_key = d.date_key
WHERE d.date_key IS NULL
""", engine_dw)

   COUNT(*)
0         0

In [91]:
pd.read_sql("""
SELECT COUNT(*) 
FROM Fact_Game_Player f
LEFT JOIN Dim_League l ON f.league_key = l.league_key
WHERE l.league_key IS NULL
""", engine_dw)

   COUNT(*)
0         0

In [92]:
pd.read_sql("""
SELECT COUNT(*) 
FROM Fact_Game_Player f
LEFT JOIN Dim_Team t ON f.team_key = t.team_key
WHERE t.team_key IS NULL
""", engine_dw)

   COUNT(*)
0         0

In [93]:
pd.read_sql("""
SELECT COUNT(*) 
FROM Fact_Game_Player f
LEFT JOIN Dim_Player p ON f.player_key = p.player_key
WHERE p.player_key IS NULL
""", engine_dw)

   COUNT(*)
0         0

In [94]:
pd.read_sql("""
SELECT COUNT(*) 
FROM Fact_Game_Player f
LEFT JOIN Dim_Champion c ON f.champion_key = c.champion_key
WHERE c.champion_key IS NULL
""", engine_dw)

   COUNT(*)
0         0

D'apres ces tests on peut dire que toutes les clés étrangères de la table fact existent dans les dimensions.